absl-py==1.4.0+computecanada
accelerate==0.22.0
appdirs==1.4.4+computecanada
attrs==23.1.0+computecanada
beautifulsoup4==4.12.2+computecanada
# black==23.3.0
black
cachetools==5.3.1+computecanada
cchardet==2.1.7
certifi==2023.5.7
chardet==5.1.0+computecanada
charset-normalizer==3.1.0+computecanada
click==8.1.3+computecanada
contourpy==1.0.7+computecanada
cycler==0.11.0+computecanada
datasets
docker-pycreds==0.4.0+computecanada
filelock==3.12.0+computecanada
flake8==6.0.0
fonttools==4.42.1+computecanada
fsspec==2023.5.0+computecanada
geomloss==0.2.6+computecanada
gitdb==4.0.10+computecanada
GitPython==3.1.31+computecanada
google-auth==2.19.0
google-auth-oauthlib==1.0.0+computecanada
graphviz==0.20.1+computecanada
grpcio==1.51.3+computecanada
# huggingface-hub==0.16.4+computecanada
idna==3.4+computecanada
importlib-metadata==6.6.0
importlib-resources==6.0.1+computecanada
isort==5.12.0
joblib==1.2.0+computecanada
jsonschema==4.19.0+computecanada
jsonschema-specifications==2023.7.1+computecanada
kiwisolver==1.4.4+computecanada
Markdown==3.4.3+computecanada
MarkupSafe==2.1.2+computecanada
matplotlib==3.7.0+computecanada
mccabe==0.7.0
# mypy==0.812
mypy
# mypy-extensions==1.0.0+computecanada
mypy-extensions
numpy==1.24.2+computecanada
oauthlib==3.2.2+computecanada
packaging==23.1+computecanada
pandas==1.5.3+computecanada
pathspec==0.11.1
pathtools==0.1.2+computecanada
peft==0.4.0
Pillow==9.5.0+computecanada
pkgutil-resolve-name==1.3.10+computecanada
platformdirs==3.5.1
protobuf==4.23.2
psutil==5.9.4+computecanada
pyasn1==0.5.0+computecanada
pyasn1-modules==0.3.0+computecanada
pycodestyle==2.10.0
pyflakes==3.0.1
pyparsing==3.1.1+computecanada
pyproject-toml==0.0.10
pysam==0.20.0+computecanada
python-dateutil==2.8.2+computecanada
pytz==2023.3+computecanada
PyYAML==6.0+computecanada
referencing==0.30.2+computecanada
regex==2022.10.31+computecanada
requests==2.31.0+computecanada
requests-oauthlib==1.3.1+computecanada
rpds-py==0.8.8+computecanada
rsa==4.9+computecanada
RUST==1.3.1
safetensors==0.3.1+computecanada
scikit-learn==1.2.1+computecanada
scipy==1.10.1+computecanada
semantic-version==2.10.0+computecanada
sentencepiece==0.1.97+computecanada
sentry-sdk==1.25.0
setproctitle==1.3.2+computecanada
setuptools-rust==1.7.0
six==1.16.0+computecanada
smmap==5.0.0+computecanada
soupsieve==2.4.1+computecanada
tensorboard==2.13.0+computecanada
tensorboard-data-server==0.7.0+computecanada
threadpoolctl==3.1.0+computecanada
# tokenizers==0.13.3+computecanada
tokenizers
toml==0.10.2+computecanada
tomli==2.0.1+computecanada
torch==1.13.1+computecanada
tqdm==4.65.0+computecanada
# huggingface transformers installed from github
git+https://github.com/huggingface/transformers
typed-ast==1.4.3+computecanada
typing-extensions==4.6.2
# urllib3==2.0.2
urllib3
wandb==0.15.3+computecanada
Werkzeug==2.3.4+computecanada
xformers==0.0.21
zipp==3.15.0+computecanada
