absl-py
accelerate
appdirs
attrs
beautifulsoup4
# black
black
cachetools
cchardet
certifi
chardet
charset-normalizer
click
contourpy
cycler
docker-pycreds
filelock
flake8
fonttools
fsspec
geomloss
gitdb
GitPython
google-auth
google-auth-oauthlib
graphviz
grpcio
# huggingface-hub
idna
importlib-metadata
importlib-resources
isort
joblib
jsonschema
jsonschema-specifications
kiwisolver
Markdown
MarkupSafe
matplotlib
mccabe
mypy
mypy-extensions
numpy
oauthlib
packaging
pandas
pathspec
pathtools
peft
Pillow
pkgutil-resolve-name
platformdirs
protobuf
psutil
pyasn1
pyasn1-modules
pycodestyle
pyflakes
pyparsing
pyproject-toml
pysam
python-dateutil
pytz
PyYAML
referencing
regex
requests
requests-oauthlib
rpds-py
rsa
RUST
safetensors
scikit-learn
scipy
semantic-version
sentencepiece
sentry-sdk
setproctitle
setuptools-rust
six
smmap
soupsieve
tensorboard
tensorboard-data-server
threadpoolctl
tokenizers
toml
tomli
torch
tqdm
# huggingface transformers installed from github
git+https://github.com/huggingface/transformers
typed-ast
typing-extensions
urllib3
wandb
Werkzeug
Wikidata
wikipedia
xformers
zipp
