datasets
matplotlib
numpy
pandas
peft
Pillow
safetensors
scikit-learn
scipy
sentencepiece
tensorboard
tokenizers
torch
tqdm
# huggingface transformers installed from github
git+https://github.com/huggingface/transformers
wandb
# xformers
